{
  "presets": ["@babel/preset-env", "@babel/preset-flow"],
  "env": {
    "development": {
      "presets": [
        "power-assert"
      ]
    },
    "production": {
      "plugins": [
        "unassert"
      ]
    }
  }
}
